@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr: hsl(0, 98%, 32%);
  --main-clr: hsl(0, 0%, 10%);
  --body-clr: hsl(50, 100%, 91%);
}

*,
*::before,
*::after {
  @apply box-border list-none m-0 p-0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--body-clr);
  background: var(--main-clr);
}

@layer utilities {
  .side-pad {
    @apply mx-auto w-full max-w-7xl px-4 lg:px-6;
  }
}
