@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 226, 220, 200;
  --background-rgb: 16, 15, 15;
}

*,
*::before,
*::after {
  @apply box-border list-none m-0 p-0;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-rgb))
    )
    rgb(var(--background-rgb));
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(var(--foreground-rgb));
  }
}
